.wrapper {
  width: 210px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.wrapper a:hover {

}

.main {
  width: 170px;
  margin: 0 auto;
}

.siteTitle {
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 3px solid black;
}

.works {
  padding: 1.1rem 0;
}

.works h3 {
  margin: 0.7rem 0;
  font-size: 0.9rem;
}

.contact {
  padding-top: 1rem;
  border-top: 3px solid black;
  line-height: 1.1rem;
  text-transform: none;
  font-size: 0.7rem;
  font-weight: 500;
}
